# dependencies
node_modules/

# env
.env

# expo
mobile/.expo
mobile/.expo-shared

# build
dist
build
web-build
static-build

# database
backend/postgres-data
backend/postgres.log

# OS
.DS_Store
Thumbs.db

# replit
.config
.replit